[2015-05-28 00:06] sckott opened #1 "See if makes sense to add treeBASE"

[2015-05-28 00:20] sckott opened #2 "Fix Slack hook when Slack people get back in touch"

[2015-05-28 15:10] sckott opened #3 "Add maybe Phylomedb"
http://phylomedb.org/web_api

[2015-05-28 15:17] sckott opened #4 "Use taxize::class2tree somehow"
or move here? probably not, but something

[2015-05-28 15:19] sckott opened #5 "Add Tree of Life"
see discussion in ropensci/taxize#29

[2015-11-09 21:39] #2 closed

[2015-11-09 21:41] sckott opened #6 "Remove Open Tree of Life probably"
Nice client already for this `rotl`, so probably remove from here, focusing on phylomatic, and other small phylogeny sources and/or those that don't have clients

[2015-11-10 06:13] #6 closed

[2015-11-10 06:14] sckott opened #7 "test suite"

[2015-11-10 06:14] sckott opened #8 "code of conduct"

[2015-11-10 06:19] #8 closed

[2015-11-10 06:26] sckott opened #9 "Dont import taxize, too heavy, use datasets internally"

[2015-11-10 19:28] sckott commented on #9
meh, leave it

[2015-11-10 19:28] #9 closed

[2015-11-10 20:56] sckott commented on #4
meh, not

[2015-11-10 20:56] #4 closed

[2015-11-10 21:37] sckott opened #10 "NCBI common tree"
don't know of a way to get the entire tree...

[2015-11-10 22:04] sckott commented on #3
blargh!  wowsers, that's not a web API, the "API" request kicks of some other requests in an iframe or something then generates links that when opened generate a popup to then download, wow wow wow

[2015-11-10 22:04] sckott commented on #3
/rant over

[2015-11-11 20:02] sckott opened #11 "nexml output format breaks cause we attach phylo class"

[2015-11-11 20:53] #7 closed

[2015-11-11 21:19] sckott commented on #11
fixed in a34d5e1746eefb9753953e0f3c4c93c090f7918b

[2015-11-11 21:19] #11 closed

[2015-11-11 21:19] sckott opened #12 "Add TPL gymnosperms as a dataset"
missing from the datset in taxize, see also ropensci/taxize#478

[2015-11-11 23:42] sckott commented on #12
done

[2015-11-11 23:42] #12 closed

[2016-02-22 18:09] aeltonbg opened #13 "Limit of taxas in brranching"
My name is Aelton Giroldo, and I am PhD student in Ecology.

I am trying to build a phylogenetic tree using brranching.

My data set had 11438 species.

I wrote the code as below:

[code]

I did more 3 trees just increasing the species number (taxa).

[code]

So, the next tree is stucked, I don't know if there is a limit of taxa, I hope not!

[code]

Could anyone tell me what I am doing wrong in t

[2016-02-22 18:40] sckott opened #14 "httr::content fixes"
utf-8 encoding and parse manually

[2016-02-22 19:28] sckott commented on #13
thanks for your bug report @aeltonbg - short answer is: there is a limit on number of taxa, it is 5000, see http://phylodiversity.net/phylomatic/html/documentation.html - I don't think i have that in the docs (or maybe Cam just added that recently).   I'll add that to the docs. He lists alternatives as using phylocom locally, or using the scripts behind the phylomatic web service locally.  An R op

[2016-02-22 21:17] sckott commented on #13
Playing with local usage for bigger data, stumbling block though, asked camwebb/phylomatic-ws#3

[2016-02-22 21:33] aeltonbg commented on #13
Well,

I tried here again, and discovered that the number of taxas allowed is not 5,000, even 4,999 generated the same error.

So I started to decrease the number, and works when the taxas number is around 4,100.

I am trying to find a solution... breaking the tree in 3 different ones could be the solution, and after I could merge them.

The other problem that I will find after is how to insert th

[2016-02-22 21:41] sckott commented on #13
I imagine the 5000 limit is most likely not actually 5000, but the scripts probably test for some total character length, and this depends on how long each name is - just guessing though.

[2016-02-23 00:25] sckott commented on #14
already sorted

[2016-02-23 00:25] #14 closed

[2016-02-23 00:50] sckott commented on #13
@aeltonbg okay, after some ugly hacking, this may work for you (works for me at least)
- reinstall from github `devtools::install_github("ropensci/brranching")`
- download the local version of phylomatic, either `git clone https://github.com/camwebb/phylomatic-ws.git` or download the zip file on https://github.com/camwebb/phylomatic-ws (button towards the right) and unzip it
- use `phylomatic_loca

[2016-02-23 15:51] aeltonbg commented on #13
Hello @sckott,

Thanks again by help!
- I am trying here, and as you told my function stopped because I don't have the awk and gawk. I never hear about these command lines.
  In summary, I don't have the knowledge in how to do these command lines. If you have some light about how to do it I will appreciate a lot. Any script as example will be perfect!
- I am really trying to understand all the cod

[2016-02-23 16:39] sckott commented on #13
what operating system are you on?

[2016-02-23 17:02] aeltonbg commented on #13
@sckott
I am using windows 10!

[2016-02-23 17:17] sckott commented on #13
There's a few ways to install. I don't use windows so I don't know the best way, can try

https://github.com/bmatzelle/gow
http://scoop.sh/

illl test on windows later today

[2016-02-23 17:21] sckott commented on #13
actually, try this one first https://msys2.github.io/

[2016-02-23 17:43] aeltonbg commented on #13
I install the last! and now, is just run the script in R, or need to write some code?

[2016-02-23 17:47] sckott commented on #13
make sure you have downloaded latest from github `devtools::install_github("ropensci/brranching")` and use `phylomatic_local()`, and give the path to where the folder `phylomatic-ws` is located on your computer.

[2016-02-23 18:22] aeltonbg commented on #13
Still not working. Even after install and run the third https://msys2.github.io/  it didn't work!

Error: awk is missing, install it first.

I am trying to install awk and gawk using other website.

Are you using linux?

thanks

[2016-02-23 21:04] aeltonbg commented on #13
Finally I install awk!

I am using windows 10. So, if someone had the same problem to install it, the steps are:

Step 1: open windows PowerShell as admin.
Step 2: http://scoop.sh/ use the link that @sckott send above or go directly to step 3.
Step 3: set-executionpolicy unrestricted -s cu , answer YES if ask something.
Step 4: iex (new-object net.webclient).downloadstring('https://get.scoop.sh')

[2016-02-23 21:39] sckott commented on #13
Glad you got awk installed. That looks like a problem with file not being found correctly. I'll test on windows to see what's going wrong

[2016-03-01 21:42] sckott commented on #13
@aeltonbg okay, try again after reinstalling `devtools::install_github("ropensci/brranching")`
- a fix was made in phylomatic https://github.com/camwebb/phylomatic-ws/issues/3 so we can do very large input taxon lists locally - Do download `phylomatic-ws` again
- `phylomatic_local()` improved, uses the new `phylomatic-ws`, and works better.
- after trying this, let me know if you still have the pr

[2016-03-02 22:44] aeltonbg commented on #13
@sckott I tested again. And now I had other error!

Phylogenetic tree with 0 tips and  internal nodes.

Tip labels:
NULL
Error in tabulate(phy$edge[, 1]) : 'bin' deve ser numérico ou um fator
In addition: Warning message:
running command 'cat E:/phylomatic-ws/file193c60b51835.txt | ./pmws > E:/phylomatic-ws/out.new' had status 127

Phylogenetic tree with 0 tips and  internal nodes.

Tip labels:
NU

[2016-03-02 22:46] aeltonbg commented on #13
@sckott just translating

Error in tabulate(phy$edge[, 1]) : 'bin' deve ser numérico ou um fator
Error in tabulate(phy$edge[, 1]) : 'bin' need to be numeric or factor

thanks

[2016-03-03 00:06] sckott commented on #13
I'll have a look. I guess I really need to try this on windows, i'll try to get to that today

[2016-03-21 20:59] sckott commented on #13
i tried again on this - it does seem there is an option when installing Rtools to add Rtools to your path, so that awk can be found by R/Rstudio

That still doesn't solve the problem of getting awk to work, not solved that yet

[2016-04-13 14:25] sckott opened #15 "Change clean to use TRUE/FALSE"

[2016-04-13 14:26] sckott opened #16 "reading trees breaks on newicks when clean=FALSE"
I think using `phytools::read.newick(text = "<tree>")` will work

[2016-04-13 14:54] #15 closed

[2016-04-13 14:54] #16 closed

[2016-04-13 16:52] sckott opened #17 "Fix phylomatic_local on Windows"
from #13

[2016-04-13 16:53] sckott commented on #13
closing this as there is a solution that works at least in some cases,

opened a new issue to make sure I fix this on windows - see #17

[2016-04-13 16:53] #13 closed

[2016-04-13 17:08] aeltonbg commented on #17
Ok!

waiting for a solution @sckott

Thanks again!

[2016-04-13 17:46] sckott opened #18 "Add bladj possibly"
in inst/ignore in taxize right now  https://github.com/ropensci/taxize/blob/4f1eb5201db95dfb837100c4091cda1100c48335/inst/ignore/rbladj.r

could be too much of a headache - i imagine it's also written in awk, but not sure

[2016-04-13 17:47] sckott commented on #18
hmm, is written in C, could wrap in R, have to see how easy that is

[2016-04-13 19:52] sckott opened #19 "Document that Zanne et al. tree can be used"

[2016-04-13 19:53] #19 closed

[2016-04-13 20:18] sckott opened #20 "use R > 3.2.1 because of keepNA param in nchar"

[2016-04-13 20:18] sckott commented on #20
same as https://github.com/ropensci/taxize/issues/476

[2016-04-13 20:19] #20 closed

[2016-09-24 20:54] #18 closed

[2016-09-28 22:45] sckott opened #21 "talk about how to install/get awk on different operating systems"

[2016-12-20 09:24] johnroxton commented on #17
Hello @sckott!

I am trying to use phylomatic_local() and installed msys. But the "Error: awk is missing, install it first" still pops up. I wonder if I need to set an environmental variable or something to let R know gawk is installed.

Sincerely

David

[2016-12-20 17:49] sckott commented on #17
@aeltonbg and @johnroxton

sorry for the delay on this, I think we finally have a solution. we started a new pkg https://github.com/ropensci/phylocomr  that is an R client for Phylocom that includes Phylocom itself, and should work across operating systems.

to try the new phylomatic local setup, install this pkg like

`devtools::install_github("ropensci/brranching@phylocom-pkg")`

which will inst

[2016-12-21 17:08] johnroxton commented on #17
hi @sckott

I installed the package and it appears to work. However, it seems I need to download a megatree first to build a phylogeny from a taxa list, is that right?

[2016-12-21 17:24] sckott commented on #17
see `?phylomatic_trees` - which is a list of trees you can choose from that come with the package.

Seems like we can allow user to pass in their own tree. i'll add that.

the `storedtree` parameter has info on what trees come with the package.

[2016-12-21 17:42] johnroxton commented on #17
but this is within the brranching pkg, not with phylocomr. using the ph_phylomatic() function from phylocomr, with phylo="R20120829" as an argument, the function crashes.

[2016-12-21 17:43] sckott commented on #17
sorry, i forgot to say use `brranching::phylomatic_local2()`

[2016-12-21 17:47] sckott commented on #17
which uses the `ph_phylomatic` function internally

[2016-12-21 17:49] johnroxton commented on #17
works! thank you!

[2016-12-21 17:51] sckott commented on #17
but note that the fxn name will likely change back to just `phylomatic_local` soon and before next CRAN version

[2016-12-21 20:30] johnroxton commented on #17
hello @sckott
i tried a bit more and found that for some reason, the `phylomatic_local2` function becomes so slow it doesn't return a tree for more than 220 species, while the web interface returns a result immediately for the same set. could be my machine, but, for <220 species, it doesn't take a second to calculate.

[2016-12-21 20:31] sckott commented on #17
@johnroxton can you include or attach here or send to me what taxa and tree you're using

[2016-12-21 20:34] sckott commented on #17
keep in mind that phylomatic web interface is a different set of code than phylomatic in phylocom. the web interface is written in awk while the phylocom implementation is in C

and the inputs parameters are slightly different between them

[2016-12-21 20:37] johnroxton commented on #17
I used the R20120829 tree. Here is a link to a txt-file containing the species I tried
https://www.dropbox.com/s/ykbhog3d96vx8rr/plants_test.txt?dl=0

[2016-12-21 21:08] sckott commented on #17
I get

[code]

[2016-12-21 21:12] sckott commented on #17
i'll test on a windows machine soon to see if it only happens there

[2016-12-21 22:47] aeltonbg commented on #17
Hello @sckott and @johnroxton ,

Now I am not working in the project with phylomatic, but I still interested in the results.

After upgrade to the new version and using library(brranching), I tried to insert my data using phylomatic_local2:

I tried with different data: My data set has more than 11000 species.

I had the error:

- A data example:
Cerrado <- read.delim("E:/Planilhas R/Taxa_Test.txt

[2016-12-21 22:52] aeltonbg commented on #17
Hey @sckott

I was thinking, and could be good that you test this real data set using MAC or linux!

The data have all species in Brazilian Savanna biome, including an Gminosperm as ancestral group!

I don´t know if the data is corrected set to use in R. But I believed that was.

Thanks, best regards!

[2016-12-21 23:05] sckott commented on #17
thanks @aeltonbg I'll have a look

[2016-12-22 10:15] johnroxton commented on #17
Hi @sckott

in my case, there must be some error in the return of the function values. Interestingly, when stopping calculations because the systems appears to be hanging, it still outputs (probably correctly) the names of the species not included.

[2016-12-22 12:05] johnroxton commented on #17
@sckott

I traced down the error and in my case it lies within the `phylomatic` function. For some reason, the output called `out` is truncated. It can contain 8095 characters at maximum. If I add too many species, the output just cuts somewhere in the middle of a species name, and the final ";" is missing. This forces `read.newick` into an eternal loop.

@aeltonbg

Your error is caused by the wro

[2016-12-22 12:08] johnroxton commented on #17
@aeltonbg

your error is just caused by inserting the wrong input argument. this needs to be a character vector, not a dataframe.

[2016-12-22 13:25] aeltonbg commented on #17
@johnroxton

I think is not this! I tried to input the data as character and the error was the same!

See the code, I was exactly converting the data to character. Yet, I used the command readLines as well, and the same error occurred!

Best regards,

Waiting for a solution!!!!

[2016-12-22 13:41] johnroxton commented on #17
@aeltonbg
what happens if you change
phylomatic_local2(taxa = Cerrado,storedtree = "R20120829")

to

phylomatic_local2(taxa = Cerrado$V1,storedtree = "R20120829")

[2016-12-22 13:52] aeltonbg commented on #17
@johnroxton

I tried it now?

See the same error!!

[1] "factor"

[1] "character"

preparing names...
processing with phylomatic...
Error in matrix(NA, sum(text == "(") + sum(text == ","), 2) :
  invalid 'nrow' value (too large or NA)

I believe that is the limit of character! Although I tested with 61 species and had the same error!!

[2016-12-22 14:01] johnroxton commented on #17
If you use the last file you provided (taxa_Savanna.txt) and use

taxNames<-readLines("taxa_Savanna.txt")

what happens with
phylomatic_local2(taxa=taxNames[1:100],storedtree="R20120829")

phylomatic_local2(taxa=taxNames,storedtree="R20120829")

[2016-12-22 14:01] aeltonbg commented on #17
@sckott , @johnroxton

I tested with different data... And works with 10 species maximum! Probably is the character number limit!

Regards

[2016-12-22 14:06] aeltonbg commented on #17
Exactlt this:

preparing names...
processing with phylomatic...
Error in matrix(NA, sum(text == "(") + sum(text == ","), 2) :
  invalid 'nrow' value (too large or NA)

The same!!! rsrs

[2016-12-22 18:39] sckott commented on #17
the error is coming from `phytools::read.newick`

looking into it

[2016-12-22 18:52] sckott opened #22 "missing taxa for local phylomatic via phylocomr"
- [ ] it prints out the missing taxa, but ideally we can collect those
- [ ] and would be nice to be able to suppress the printed out missing taxa

[2016-12-22 18:54] sckott commented on #17
@aeltonbg reinstall and try again, your example now works for me

make sure to set `taxnames` parameter for whether you have just taxon names or  whether you have `family/genus/species` format

[2016-12-22 18:55] sckott commented on #17
@johnroxton

which `phylomatic` function is that?  `phylomatic_local2` this is with your example?

[2016-12-22 21:29] johnroxton commented on #17
@sckott
No this is the C function, I assume. I figured that out by running `phylomatic_local2` line by line. The function invokes the call

out <- phylocomr::ph_phylomatic(taxa = dat_, phylo = tree,
			lowercase = lowercase, nodes = nodes)

to `ph_phylomatic` which calls the `phylomatic` funciton.

out <- suppressWarnings(
			phylocomr:::phylomatic(paste0(c(
									paste0("-t ", taxa_file),

[2016-12-22 21:37] sckott commented on #17
@johnroxton thanks for that.

so the error is with the same data from this https://github.com/ropensci/brranching/issues/17#issuecomment-268632812 ?

[2016-12-22 21:37] sckott opened #23 "fix appveyor build - seems to hang/time out on running examples"
maybe comment out some long running things

[2016-12-22 22:45] aeltonbg commented on #17
Hey @sckott I will reinstall and try again here!

To reinstall I must use the command

devtools::install_github("ropensci/brranching@phylocom-pkg")

Will it works? Or I need to download the package directly is github?

Thanks again

[2016-12-22 22:49] sckott commented on #17
@aeltonbg yes, that's right. run that in R.

[2016-12-22 22:56] aeltonbg commented on #17
If the answer is YES! @sckott

Here we are again!

I tested, and the answer is the same!

Here we had all command lines and files that I used:

First with pure species names: Like _Caryocar brasilienses ...._
Names<-readLines("taxa.txt")

preparing names...
processing with phylomatic...
Error in matrix(NA, sum(text == "(") + sum(text == ","), 2) :
  invalid 'nrow' value (too large or NA)

Second w

[2016-12-22 23:48] sckott commented on #17
@aeltonbg Did you remember to restart your R session after installing the new package version?  What does `packageVersion('brranching')` give you?

[2016-12-23 05:10] aeltonbg commented on #17
Hi @sckott

See the results and version!

The error continue

library(brranching)

preparing names...
processing with phylomatic...
Error in matrix(NA, sum(text == "(") + sum(text == ","), 2) :
  invalid 'nrow' value (too large or NA)

[1] ‘0.2.2.9150’

[2016-12-23 05:20] sckott commented on #17
Okay, I'll have to look at it on a windows machine. I'll try to get to that soon

[2017-01-06 00:53] sckott commented on #17
some progress - I can at least reproduce the error you get

[2017-01-06 01:59] sckott commented on #17
made some progress but now getting down to some error that's again only happening on windows  that I can't get an error message for, so not sure what's going on yet. asking https://github.com/phylocom/phylocom/issues/25 about it

[2017-01-06 06:41] johnroxton commented on #17
@sckott

Thanks for coming back to that! Did you find a way to circumvent the truncation problem in Windows? I'd really like to test if I get the same problems you found (new thread 25)

[2017-01-06 17:03] sckott commented on #17
@johnroxton are you sure the string isn't longer. like if you write it to a file, and look at it like that, e.g,. `writeLines(yourstring, "filepath.txt")`

[2017-01-06 21:22] johnroxton commented on #17
@sckott yes. it's always 8095 characters long. However, I found the following error messages when stripping the `suppress warnings()` command from the `phylomatic` C function:
Warning messages:
1: running command '"C:/Users/David/Documents/R/R-3.3.2/phylocomr/bin/i386/phylomatic" -t C:\Users\David\AppData\Local\Temp\Rtmp654JrC\taxa_11e07e8f75a -f C:\Users\David\AppData\Local\Temp\Rtmp654JrC\phylo_

[2017-01-06 21:38] sckott commented on #17
@johnroxton right, that's the same error i'm getting i think, opened an issue in the `phylocom` repo https://github.com/phylocom/phylocom/issues/25 i think it's an issue in the C library, not in the `phylocomr` package

[2017-01-06 21:40] johnroxton commented on #17
I was wondering if it has something to do with what R help tells about the system() command: [...]Output lines of more than 8095 bytes will be split[...] (accessed by typing `?system` in R) it also gives some info about differences of Windows and Unix systems in this respect, but that I don't understand.

[2017-01-06 22:18] sckott commented on #17
I don't understand it either!  Hoping to sort it out soon

[2017-02-02 17:18] sckott commented on #17
still no response over there, pinged him again

[2017-02-02 21:13] johnroxton commented on #17
In the meanwhile I found a paper doi:10.1093/jpe/rtv047 where they constructed an updated phylogeny for plants from the Zanne et al. 2014 paper and also provided an R script for tree creation. Worked for me, although extremely slow (took 3 hours to run the script for 1300 spp.)

[2017-02-10 14:29] sckott opened #24 "zanne tree"
heard this is the latest plant tree, show example of using,

[2017-02-27 03:15] sckott opened #25 "replace httr with crul"

[2017-03-06 21:41] sckott commented on #17
@johnroxton  Sorry about the slow response - still haven't sorted this out - the phylocom maintainer said he couldn't reproduce the problem https://github.com/phylocom/phylocom/issues/25#issuecomment-277035918

[2017-03-07 09:37] johnroxton commented on #17
@sckott Thank you anyway for your effort. It's a pitty it doesn't run smoothly on Windows machines. For me, I found I can use the script I mentioned to create a phylogenetic tree that works ok.

[2017-03-09 23:22] aeltonbg commented on #17
@sckott tnks for try!

I will to analyse using the same method of @johnroxton !

Regards.

[2017-03-13 17:27] sckott opened #26 "fix readme images"
from the corresponding README.md ones) on the CRAN package web pages are
incomplete, missing 'local' images not available from the web page and
in most cases actually not even shipped with the package.  This clearly
should be changed, so we will move to using '--self-contained' for the
pandoc conversion to ensure that the README.html files are "complete".

needed in the package sources.

in the 'v

[2017-04-21 08:35] davidvilanova opened #28 "Get tree from abundance table"
Hi,
I have an abundance table (each row corresponds to a taxa). I would like to get the tree (newick default format) of the table.
The table contains bacteria, archeae and fungi.

How can i get a phylogenetic tree from this table (the original table has around 600 rows)??
The idea is to use the tree for further analysis using R.

[code]

[2017-04-21 17:26] sckott commented on #28
thx for your question @davidvilanova !

Is the idea that you just want to input a data.frame to a function and it does all the work?  Or are you thinking you're happy to pull out some names from the table as needed?

[2017-04-22 15:36] davidvilanova commented on #28
I need a phylogentic tree that incorporates branches length. I would normally align sequences and do it from a sequence alignment. In this case i ca´t do it because taxonomy comes from single copy genes. I was thinking to compute a distance matrix from there and generate the tree from there.
My data frame contains 30 samples and 500 rows. Not all rows have annotations at the species level. Program

[2017-04-23 20:12] sckott commented on #28
Hmm, the package's goal is to fetch phylogenies from data sources on the web, currently only Phylomatic (which is focused only on plants) - where the inputs are taxonomic names.

I am interested in more data sources (see https://github.com/ropensci/brranching/issues?q=is%3Aissue+is%3Aopen+label%3Adata-source), but haven't done any yet.

It sounds like you actually have the sequence data, and want

[2017-04-24 07:58] davidvilanova commented on #28
The basic question is how do you get a phylogenetic tree from a set of single copy genes ?

[2017-04-25 17:16] sckott commented on #28
I wish I could help!  I was trained as an ecologist - so i'm not sure I can help

[2017-07-05 06:26] oolonek commented on #13
Dear sckott,

Just stumbled upon this thread at the moment.
Using Mac (10.11) and R studio here so no Rtools involved.
Also trying to run phylomatic on >6000 species ... Not working.
Installed gawk (had awk allready) and phylomatic_local but still get this issue:

`> tree <- phylomatic_local(taxa = taxa,path="/Users/pma/phylomatic-ws/")
preparing names...
processing with phylomatic...
sh: ./pmws:

[2017-07-05 06:56] oolonek commented on #13
Ok.

Works intsalling devtools::install_github("ropensci/brranching@phylocom-pkg")
As specified here https://github.com/ropensci/brranching/issues/17

Edit : actually works if taxa < 4100 or so .... Will never complete if taxa number > 6000
So I guess I should use the local phylomatic but then come back to same error as described in the above message ...

[2017-07-11 20:59] sckott commented on #13
sorry for the delay @oolonek was on vacation last week  - thanks for raising this issue.

Glad you got the install from the `phylocom-pkg` branch

Did you try the function `phylomatic_local2` ? that is a new version of `phylomatic_local` that uses our new pkg `phylocomr` (not yet on CRAN) https://github.com/ropensci/phylocomr that is a R binding to the C library behind the Phylocom command line to

[2017-07-12 05:00] oolonek commented on #13
@sckott  thanks for the feedback !

Could make it work with phylomatic_local after adding gawk and gawk4.1.1 and igawk in phylomatic-ws folder.
Using phylomatic_local2 as you suggested is even faster, works like a charm !

Thanks

[2017-07-12 14:16] sckott commented on #13
great

[2017-10-08 19:31] amoeba commented on #26
I took a shot at this one, though I'm inexperienced with some of the finer details. Let me know if I hit the mark.

I was able to reproduce the broken images by building the package, extracting the built package archive and checking the `README.html`. I removed `inst/img` (finding an unneeded duplicate image in the process), changed the `fig.path` option in `README.md`, rebuilt the package and fou

[2017-10-09 22:28] sckott commented on #26
thanks!

[2017-10-09 22:29] #26 closed

[2017-10-09 22:31] sckott opened #30 "use phylocomr when on cran"

[2017-10-11 16:35] sckott opened #31 "Add a vignette"
This package needs more documentation!  Help out the community by contributing a vignette. If you don't know what a vignette is, check out http://r-pkgs.had.co.nz/vignettes.html for an introduction.

If you aren't sure how to contribute on github checkout https://github.com/ropensci/brranching/blob/master/.github/CONTRIBUTING.md

Keep in mind our code of conduct https://github.com/ropensci/brranch

[2017-12-16 01:18] #25 closed

[2018-10-13 18:13] fozy81 commented on #31
See pull [request](https://github.com/fozy81/brranching/commit/4fbd162f9852988f1bc257482f169e59c8b9af89) for vignette. Includes slightly updated version of the package README file. :smile:

[2018-11-28 00:10] #31 closed

[2018-11-28 05:17] #17 closed

[2018-11-28 05:17] #30 closed

[2018-11-28 05:18] #28 closed

[2018-11-28 05:18] #23 closed

[2018-11-28 05:19] sckott commented on #21
not a worry anymore now using phylocomr

[2018-11-28 05:19] #21 closed

[2018-11-28 05:24] sckott commented on #1
seems like it's going bye bye

[2018-12-13 00:59] sckott opened #36 "handle messages from taxize gracefully"
with the new package https://github.com/ropenscilabs/conditionz working on - could test out here to see if it's useful, and not too slow, not too burdensome

[2019-04-26 09:01] benpaozaitianshan opened #37 "error in running phylomatic_local via brranching"
<details> <summary><strong>Session Info</strong></summary>

[code]
</details>
Hello, Scott,  I am using "brranching" to  building phylomatic tree with storedtree slik2015 (new phylogeny in  slik et al. 2018),  I tried to set the path, but there is an error: "object 'tree' not found". The format of tree is newick.  So, I request that could you add the slik2015 (slik et al. 2018) in the the "brranch

[2019-04-30 23:14] sckott commented on #37
please include your session info as requested. if you aren't sure how to do this. start R, load `brranching`, then run `sessionInfo()` then paste in the output of that function into a comment here.

[2019-04-30 23:17] sckott commented on #37
also, please share the code that was tried, and the error that resulted. share the phylogeny as well by attaching the file, or email to me at myrmecocystus@gmail.com

[2019-07-19 16:53] sckott opened #38 "rbladj error - coming from phylocomr:::phylo_check"

[2019-07-23 18:31] #38 closed

[2019-07-26 23:23] sckott commented on #37
closing as no response

[2019-07-26 23:23] #37 closed

[2019-07-26 23:24] sckott opened #39 "depend on new phylocomr ver on cran for various fixes"

[2019-07-26 23:36] #39 closed

[2019-07-26 23:55] #36 closed

[2020-06-03 23:29] sckott opened #41 "update for changes in apg dataset changes in taxize"

[2020-06-03 23:30] #41 closed

[2020-09-24 12:17] JoanaBergmann opened #42 "Problems with matching species names to Zanne phylogeny when using 'phylomatic' in brranching 0.6.0"
Hi!

I am using the phylomatic function in brranching to prune the Zanne tree for my species set. My code worked well when using brranching 0.5.0 in the beginning of the year. When running it again now with brranching 0.6.0 (sessionInfo below) there are several species from my set that find no match in Zanne anymore:

[code]

All taxa not matched belong to either compositae or have NA as family.
W

[2020-09-25 15:48] sckott commented on #42
Thanks for opening the issue @JoanaBergmann - To try to reproduce the problem I need the species names you used.

[2020-09-27 15:12] JoanaBergmann commented on #42
Dear @sckott - thanks for taking care! The species names from my list that didn´t match are the following:

  [1] "Acacia_crassicarpa"            "Acacia_mangium"                "Adenocaulon_himalaicum"
  [4] "Ageratina_altissima"           "Agoseris_glauca"               "Ajania_potaninii"
  [7] "Ambrosia_psilostachya"         "Anaphalis_aureopunctata"       "Anaphalis_hancockii"
 [10] "Antennari

[2020-10-02 16:55] sckott commented on #42
with `phylomatic` function, if you pass in taxonomic names and the parameter `taxnames=TRUE` is left as is, then we internally use `phylomatic_names` function to put the names in the proper format of `family/genus/genus_epithet`. You can set the data source used for `phylomatic_names` with the `db` parameter.

It seems that zanne2014 uses the Family name Asteraceae instead of Compositae. So if you

[2020-10-05 17:34] camwebb opened #43 "Shutting down phylodiversity.net"
@sckott  I'm going to shut down `phylodiversity.net` in a year (it's been over twenty years!). Phylomatic has `phylodiversity.net/phylomatic` as its front-end, but the code actually runs elsewhere, on a cloud server I also manage. I know phylomatic is still used heavily: ~300 POSTs to `pmws` a week, most from `r-curl` which I assume are generated from `taxize`/`brranching`. Can you suggest a clean

[2020-10-06 00:49] sckott commented on #43
thanks for your message @camwebb

Looks like that IP address points to https://phylo.cs.nmsu.edu/

It's possible most of the R requests are coming via this package, hard to say. If you record user-agent strings, UA strings from this package should look like `libcurl/7.72.0 r-curl/4.3 crul/1.0.0` (pkg versions can change of course)

I imagine you remember I also maintain the phylocomr package wrapp

[2020-10-06 01:22] camwebb commented on #43
Thinking about this more, I realize the simplest thing is just to rewrite the basic phylomatic functionality in R - it's basic function is a simple graft and prune that would be quite easy (I guess) to implement in R with `ape`. I know R loops can be slow when iterated many thousands of times, but there may be ways to vectorize the operations. The basic code is [here](https://github.com/camwebb/ph

[2020-10-06 01:37] sckott commented on #43
Good idea. I'd imagine a pure R implementation would be rather slow, but I don't know for sure. Maybe this: Translating to C++ would make it still fast and make it easy to provide a thin interface for that in R that would make it portable to all operating systems

[2020-10-06 04:24] camwebb commented on #43
Yes, that makes sense. And since it came from C (in the phylocom distibution), I could start there. Would you be available to help with the R side and integration into your library?  This will be a low-priority project, but I should be able to get it done in a year.

[2020-10-06 16:42] sckott commented on #43
Yes, definitely available to help on the R side.

I can help with the translation if we do it in C++, but i've not much experience in C.

[2020-10-07 16:55] camwebb commented on #43
Had a quick look at .C() and .Call() and might go that route using C,
rather than rewriting in C++ and using Rcpp. Will get back to you.

[2020-10-07 16:59] sckott commented on #43
Sounds good

[2020-10-14 22:59] christophebenjamin opened #44 "phylomatic not accepting higher taxon"
`brranching::phylomatic` does not accept a list of taxon other than species for the binindaemonds2007 stored tree. For example, if I input a list of genus of mammals, The error  No taxa in common is produced.

Would you know why?

Thank you,

Christophe

Code example

[code]

[2020-10-16 17:12] sckott commented on #44
thanks for opening the issue here.

I think it's because binindaemonds2007 doesn't appear to have higher level taxon family or genus names in the tree, so if there's no exact name match to a name, e..g, Vulpes, then nothing is returned.

If you have species names then it works, but maybe you can only use generic names?

[2020-10-16 18:18] christophebenjamin commented on #44
Thanks for your response!
It makes sense! Just to clarify by using generic names you mean choosing an arbitrary species within the genus I want to show in the tree?

[2020-10-16 18:26] sckott commented on #44
yes

[2021-02-15 16:38] JoanaBergmann commented on #42
Dear @sckott - you pointed me towards the right solution with your answer last time - thanks again!
Now a different problem arose and I hope you might be able to help me again:

I am using the phylomatic () function in the package ‘branching’ (Version 0.6.0) to form a phylogenetic tree based on the zanne phylogeny for a set of 2405 species (species set attached) with full phylogenetic information

[2021-02-15 20:12] sckott commented on #42
So in this code

[code]

If I use the names in the attached text file in place of `PCA_NEW$full_species_ncbi` I will be replicating your code?

[2021-02-16 14:14] JoanaBergmann commented on #42
Exactly! Thanks for checking!

[2021-02-19 17:28] sckott commented on #42
It gives me an error using `phylomatic` too. It's not a loop thing. It just take a while for Phylomatic web service to respond, and it returns an error.

Have you tried `phylomatic_local()`?  It works easily for me with your name list.

[code]

[2021-02-22 12:21] JoanaBergmann commented on #42
I tried but it gives me the following error:

preparing names...
processing with phylomatic...
Error: call to 'phylomatic' failed with status -1073740940

[2021-02-22 16:56] sckott commented on #42
okay. first thing to try it to just try `phylomatic_local` many times. the C code is buggy, so it fails randomly unfortunately. let me know if it will work any time after many tries

[2021-02-23 09:32] JoanaBergmann commented on #42
I tried 80 times with the same error... any other idea? I am working on windows, could Mac change the outcome?
Thanks a lot for investing your time here!

[2021-02-23 19:53] sckott commented on #42
Thanks for testing that out. Sorry about the problem here. It's possible its windows specific. Do you have access to a mac? If so, i'd try that. If it works on mac and easy enough for you to do that's probably a good option.

[2021-03-05 09:35] JoanaBergmann commented on #42
It worked well on a mac! Thanks so much for your help!

[2021-03-05 09:35] #42 closed

[2021-03-05 16:39] sckott commented on #42
Great, sorry it doesn't work better, fixing the C code is not something I can do

[2021-05-10 18:45] sckott opened #45 "vignette deps - email from cran"

[2021-05-10 22:08] #45 closed

[2021-05-10 22:32] #44 closed

[2021-10-25 02:05] camwebb commented on #43
Hi again @sckott. I'm working on this now.  Using old/simple `.C()` call. Have got reading and writing `ape` phylo objects into C working. Now to add the phylomatic C code... A few more days. Repo is <https://github.com/camwebb/phylomatic-r/>

[2021-10-25 16:24] sckott commented on #43
That's great there's progress on this!  However, I've moved on to a new job and am no longer doing R work for the most part. If you want any help on this @LunaSare has taken over this package and https://github.com/ropensci/phylocomr - I can point out some other folks that might be interested as well, just let me know

[2021-10-25 17:36] camwebb commented on #43
OK, good luck! I will definitely need help for incorporating this C code into a package. @LunaSare can you please help me? @sckott just one question: should this new feature (R native phylomatic function) go in `taxize` or `brranching` or somewhere else? A small package of its own?

[2021-10-26 05:26] LunaSare commented on #43
Hi @camwebb and @sckott!
I should be able to help, however I have various deadlines coming up soon. I will have time to start with a new project in a couple weeks. Would that work?

[2021-10-26 15:22] camwebb commented on #43
Hi @LunaSare, thanks and no hurry. What I'm hoping for is

 1. for me just to build the C extension and R function (which read an `ape` phylo and taxa list, and returns an `ape` phylo) and...
 2. then have someone else bundle it in a R package and handle the issues of compiling the C code for various binary packages (if the package is released as binaries).

I could learn (2) and release my own pa

[2021-10-26 17:46] sckott commented on #43
I'm not sure where is best. The https://github.com/ropensci/phylocomr package calls out to the Phylocom C code - I'm not sure how the code in https://github.com/camwebb/phylomatic-r/ will relate to the Phylocom code?  Perhaps it will make sense to include the new code in `phylocomr`.

It probably makes sense to deprecate the `brranching` package b/c the web service will be gone and the only other

[2021-10-27 04:00] camwebb commented on #43
Would rather not it be in `phylocomr` because the whole point of rewriting it as an C extension for R is to make it R 'native', which phylocom is not. So I guess a small stand alone package makes sense. But I'm wary of spending the time needed to learn how to package something myself - not intending to do it for anything else. This is why getting @LunaSare's help would be great.

[2021-10-27 17:48] sckott commented on #43
Agree, makes sense then to not include in `phylocomr`. Probably makes sense as a separate standalone package. Before getting to CRAN (which builds binaries for you), you can use https://r-universe.dev/help/ which allows for the normal install path using `install.packages` and builds binaries as well - which is important when the pkg has compiled code.

[2021-11-16 20:36] LunaSare commented on #43
Hi! Yesterday was my last pressing deadline, so I'll have time from now on to help with this @camwebb! I agree with all the points @sckott raised, I think it makes more sense to build it as a standalone package, it would be cleaner than trying to incorporate it to an existing one.

[2021-11-16 21:06] camwebb commented on #43
Thanks @LunaSare. I may let this thread languish a bit.  The CLI phylomatic is working well, and it will take a fair amount of work to re-write it in C, for an R package, so it's a project of 2-3 days, I think. I also have no indication if anyone would actually use an R package. It's on the list though, and I'll contact you when I get to it. I'll close this thread and an an issue and ping on the n

[2021-11-16 21:06] #43 closed

[2022-02-11 16:00] karlandraczek opened #46 "Problem with function phylomatic from package ‘brranching’ - Error in curl::curl_fetch_memory(x$url$url, handle = x$url$handle)"
Hi, my name is Karl and I am a PhD in Ecology.

I am currently doing a plant trait analysis for gymnosperm species and wanted to correct for phylogeny using the function phylomatic.
Unfortunately, I recieved an error message when trying to run:

Error in curl::curl_fetch_memory(x$url$url, handle = x$url$handle) :
  Recv failure: Connection was reset

Here is my original species list:

 [1] "cupres

[2022-02-22 20:58] rdinnager commented on #46
Same error message for me, using the same arguments (but different taxa obviously).

[2022-02-25 21:42] rdinnager commented on #46
It looks like the reason this doesn't work is that the phylomatic web service no longer exists: https://camwebb.info/doc/phylomatic.html . You will have to rely on `phylocom_local()` instead now.

[2022-02-28 08:15] karlandraczek commented on #46
Thanks for the hint! Yes, I also found the note that the phylomatic web service was shut down recently. But even when trying phylomatic_local(), it did not work either. Did phylomatic_local() work in your case?

In the end, I used a downloaded gymnosperm tree and matched my species manually using match.phylo.data() from the package picante (https://www.rdocumentation.org/packages/picante/versions/

[2022-03-15 06:56] #46 closed

[2022-09-09 07:57] maelle opened #47 "Maintenance status / help needed?"
:wave: @LunaSare!

Do you still intend to become this package's maintainer?

If so do you need any help? For instance an aspect where you'd appreciate some tips, contributions, a PR review? Do you need an invitation to our friendly Slack workspace?

[2022-10-31 21:16] LunaSare commented on #47
Hi @maelle! Thanks so much for your message. I think joining the Slack channel will be helpful for sure. Is there a link I can follow for that?

[2022-11-01 07:12] maelle commented on #47
Let me ping @ropensci/admin

[2022-11-03 22:25] yabellini commented on #47
@LunaSare is in our Slack now :-)

[2022-11-18 06:53] #47 closed